:root {
  --main-font: "IBM Plex Mono", monospace;

  --background-color: #000028;
  --background-image: url("../images/cover-image-dark.png");

  --text-color: #f1b2ce;
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --accent-text-color: #000028;
  --button-hover-border-color: #ff007066;
  --decor-color: #ff0070;
}
